*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.converter__container{
  display: flex;
  gap: 10px;
}

input {
  height: min-content;
  padding: 3px 12px;
  margin-bottom: 10px;
  font-size: 18px;
}

select{
  margin-bottom: 16px;
  font-size: 18px;
}

p{
  font-size: 18px;
}
